<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <form action="/add_student" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required><br>
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="birthdate" required><br>
        <label for="city">City:</label>
        <input type="text" name="city" required><br>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>
