<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>

<body>
    <div>
        <h2>Statistics</h2>
        <p>Total Records: {{ statistics.total_records }}</p>
        <p>Popular Course Names:</p>
        <ul>
            {% for course_name, count in statistics.popular_course_names %}
            <li>{{ course_name }}: {{ count }} курсов</li>
            {% endfor %}
        </ul>
    </div>
    <h1>Courses</h1>

    <form action="/courses" method="get">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search_term">
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <tr>
            <th>Course ID</th>
            <th>Name of Course</th>
            <th>Teacher ID</th>
            <th>Type of Course</th>
        </tr>
        {% for course in data %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>{{ course[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div>
        <p>Page {{ current_page }} of {{ total_pages }}</p>
        {% if current_page > 1 %}
            <a href="/courses?page={{ current_page - 1 }}{% if search_term %}&search_term={{ search_term }}{% endif %}">Previous</a>
        {% endif %}
        {% if current_page < total_pages %}
            <a href="/courses?page={{ current_page + 1 }}{% if search_term %}&search_term={{ search_term }}{% endif %}">Next</a>
        {% endif %}
    </div>
</body>

</html>