<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Mark</title>
</head>
<body>
    <h1>Edit Mark</h1>
    <form action="/edit_mark/{{ mark_id }}" method="POST">
        <label for="mark">Mark:</label>
        <input type="text" name="mark" id="mark" value="{{ mark_data[3]|escape }}">
        <input type="submit" value="Save">
    </form>
</body>
</html>