<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Teacher</title>
</head>
<body>
    <h1>Edit Teacher</h1>
    <form action="/edit_teacher/{{ teacher[0] }}" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ teacher[1] }}" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ teacher[2] }}" required><br>
        <input type="submit" value="Update Teacher">
    </form>
</body>
</html>
